<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="text-align:center;">Register Yourself</h1>
    <form class="" action="/" method="post">
      <input type="text" name="name" value="" placeholder="name"><Br><br>
      <input type="email" name="mail" value="" placeholder="email"><br><br>
      <input type="password" name="pass" value="" placeholder="password"><br><Br>
      <input type="password" name="cpass" value="" placeholder="confirm password"><br><Br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
